! font
! *.font: Square:size=27
*.font: SF Mono:style=Regular:size=27
/* *.font: Operator Mono Lig Light:style=Light Italic:size=27 */

! special
! *.alpha:220
*.foreground: #a6a6a6
*.background: #1e1e1e
*.cursorColor: #eeeeee

! black
*.color0: #1e1e1e
*.color8: #3C3C3C

! red
*.color1: #e35430
*.color9: #ff0000
/* #fa5252 */

! green
*.color2: #12b886
*.color10: #40c057

! yellow
*.color3: #f3d409
*.color11: #fd7e14

! blue
*.color4: #fab005
*.color12: #228be6
/* *.color4: #5692d6 */
/* #4c6ef5 */

! magenta
*.color5:#e64980
*.color13: #ff03de
/* *.color5: #7950f2 */
/* *.color13: #be4bdb */

! cyan
*.color6: #15aabf
*.color14: #069e9c
/* #74c0fc */

! white
*.color7: #e0e8f3
*.color15: #ffffff
