! font
! *.font: Square:size=27
*.font: SF Mono:style=Regular:size=27

! special
! *.alpha:220
*.foreground: #a6a6a6
*.background: #10161c
*.cursorColor: #eeeeee

! black
*.color0: #10161C
*.color8: #262626

! red
*.color1: #e35430
*.color9: #ff0000

! green
*.color2: #f2a846
*.color10: #00aa00

! yellow
*.color3: #f5d65a
*.color11: #f3d409

! blue
*.color4: #5692d6
*.color12: #0000ff

! magenta
*.color5: #976eff
*.color13: #ff03de

! cyan
*.color6: #83bdde
*.color14: #069e9c

! white
*.color7: #e0e8f3
*.color15: #ffffff
